body {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


nav {
  background-color: #a80532 !important;
}

.nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.logIn,
.createAccount {
  font-weight: normal;
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav>p {
  margin: 0;
}