.menu-bg{
    background:url(assets/2676234bea589f.jpg) no-repeat center;
    min-height: 500px;
    align-content: center;
}
.bg-gray{
    background-color: rgba(255, 255, 255, 0.662);
    font-size: 200px;
    
}
.bg-green{
    background-color: #006747;
    color: white;
    min-height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}