body {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.bg-red {
  background-color: #a80532 !important;
}

.nav-link, .galleryHeader {
color: #ffffff !important;
font-weight: bold;
}

.galleryHeader {
  padding: 40px;
}

.active {
  text-decoration: underline;
}

.nav-link { 
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
.logo {
  padding-left: 20px;
  padding-right: 20px;
}

.logIn,
.createAccount {
  font-weight: normal;
  display: flex;
  align-items: center;
}

.navBetween {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav>p {
  margin: 0;
}

.bg-green {
  background-color: #006747;
  color: white;
  min-height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-red{
    background-color: #a80532;
    color: white;
}

.bg-margin{
    margin-left: 5%;
    margin-right: 5%;
}

.welcome {
  color: #a80532;
  font-weight: 600;
}

.gallery {
  min-height: 100%;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.gallery-container img {
  width: 100%;
}

.menu-bg {
  background: url(assets/2676234bea589f.jpg) no-repeat center;
  min-height: 300px;
  align-content: center;
    background-size: cover;

}
.location-bg {
  background: url(assets/3676234bea6900.jpg) no-repeat center;
  min-height: 500px;
  align-content: center;
  background-size: cover;
}

.bg-gray {
  background-color: rgba(255, 255, 255, 0.662);
  min-width: 310px;
  max-width: 800px;
}
.menu-header {
  font-size: clamp(5rem, 20vw, 10rem);
  max-width: 100%;
}

.price {
  text-align: end;
}

.location-header {
    font-size: clamp(4rem, 10vw, 8rem);
    max-width: 100%;

}

.menu-categories {
  font-size: clamp(1rem, 3vw, 2rem);
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu-pic {
  height: 400px;
  object-fit: cover;
  padding: 0;
  max-width: 100%;
}

.footer-top {
  background-color: #272727;
  color: #ffffff;
  height: auto;

}

.footer-bottom {
  background-color: #000000;
  color: #ffffff;
}



@media (max-width: 992px) {
  .navBetween {
    justify-content: center;
    flex-direction: column;
  }

  .accountDivider {
    display: none;
  }

  .logIn,
  .createAccount {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .galleryHeader {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .galleryHeader {
    padding: 20px;
}

.nav-link {
  font-size: 12px;
}

.menu-pic {
  height: 200px;
}

.titlePrice {
  display: flex;
  flex-direction: column;
}

.price {
  text-align: start;

}
}



@media (min-width:550px){
    .mw{
    max-width: 80%;
}
}
@media (min-width:850px){
    .mw{
    max-width: 65%;
}
}