.btn-menu {
  font-weight: normal;
}

.btn-menu:hover {
  cursor: pointer;
  text-decoration: underline;
}

.div-menu {
  display: none;
}

.btn-menu-select {
  font-weight: bold;
}

.div-menu-select {
  display: block;
}